<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/partidos"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Add a new game
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="addGame()" [disabled]="!formGameAdd.valid">
        <ion-icon name="checkmark-done"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGameAdd">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Id </ion-label>
            <ion-input type="number" formControlName="id"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Home Team</ion-label>
            <ion-input type="text" formControlName="home_team"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Visitor</ion-label>
            <ion-input type="text" formControlName="visitor"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Date</ion-label>
            <br>
            <ion-input type="date" formControlName="date"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Scorre Home Team</ion-label>
            <ion-input type="number" formControlName="score_home" min="0"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Score Visitor</ion-label>
            <ion-input type="number" formControlName="score_visitor" min="0"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Events</ion-label>
            <ion-select>
              <ion-select-option *ngFor="let events of events" [value]="events"
              formControlName="events">{{events.description}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!formGameAdd.get('events').valid &&
      formGameAdd.touched">
        <ion-col size-sm="6" offset-sm="3">
          <p>Debe haber mínimo un evento en el partido</p>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>