<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/partidos/detail"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Add an event
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formEventAdd">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Id</ion-label>
            <ion-input type="number" formControlName="id"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Time</ion-label>
            <ion-input type="number" formControlName="time"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Event</ion-label>
            <ion-select interface="popover" type="text" formControlName="descrip_evento">
              <ion-select-option value="Goal">Goal</ion-select-option>
              <ion-select-option value="Yellow">Yellow Card</ion-select-option>
              <ion-select-option value="Red">Red Card</ion-select-option>
              <ion-select-option value="Penalty">Penalty</ion-select-option>
          </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Team</ion-label>
            <ion-select interface="popover" type="text" formControlName="team">
              <ion-select-option value={{games.home_team}}>{{games.home_team}}</ion-select-option>
              <ion-select-option value={{games.visitor}}>{{games.visitor}}</ion-select-option>
          </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>