<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="home"></ion-back-button>
    <ion-title size="small">App Fut - Alessandro M.</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['./add' ]">
        <ion-icon name="add"></ion-icon>
        Add Match-Up
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="card" padding>
  <div id="container">
    <ion-card *ngFor="let games of games">
      <ion-card-content>
        <ion-card-title>
          {{ games.home_team }} vs {{ games.visitor }}
        </ion-card-title>
      </ion-card-content>
      {{ games.score_home }} - {{games.score_visitor}}
      <br>
      <img src="https://media.contentapi.ea.com/content/dam/ea/easports/fifa/champions-league/FIFA19-Hero-Tertiary-UEFA-xs-2x.jpg.adapt.crop191x100.1200w.jpg" height="110" width="220" />
      <br>
      <ion-button [routerLink]="['./', games.id]">
        Details
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button outline (click)="update(games.id)">
        Edit Game
        <ion-icon name="pencil"></ion-icon>
      </ion-button>
      <ion-button outline block>
        <ion-icon name="stopwatch"></ion-icon>
        Finalize
      </ion-button>
      <ion-card *ngIf="">
        <ion-card-header>
          El partido finalizó
        </ion-card-header>
        <ion-card-content>
          {{ games.home_team }} {{ games.score_home}} vs {{ games.score_visitor}} {{ games.visitor }}
        </ion-card-content>
      </ion-card> 
    </ion-card>
  </div>
</ion-content>


