<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/partidos"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ games.id}}</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="delete()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content padding  [fullscreen]="true">
    <div padding> <strong>Teams:</strong>
    <br>
    {{games.home_team}} vs {{games.visitor}}
  </div>
  <br>
  <div padding><strong>Date:</strong>
    <br>
    {{games.date}}
  </div>
  <br>
  <div padding> <strong>Score:</strong>
    <br>
    {{games.score_home}} - {{games.score_visitor}}
  </div>
  <div padding *ngFor="let events of games.events">
    <p> <strong>Events:</strong>
      <br>
      {{ events.description }}</p>
  </div>
  <br>
  <ion-button (click)="finalize()">
    <ion-icon name="pause"></ion-icon>
      Finalize
    </ion-button>
  
    <ion-button (click)="addEvent()">
      <ion-icon name="football"></ion-icon>
        Add an event
    </ion-button>

    <ion-content padding>
      <div id="container">
        <ion-card *ngFor="let games of games.event_id">
          <ng-container *ngIf="games.game_id === games.event_id">
            <ion-item>
              <ion-label>Time {{games.time}}
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Event {{games.description}}
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Team {{games.team}}
              </ion-label>
            </ion-item>
          </ng-container>
        </ion-card>
      </div>
    </ion-content>
</ion-content>
