<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="small">
      App Futbolera - Alessandro Maninchedda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h1>Welcome to your very own app futbolera</h1>
    <br>
    <br>
    <div>
      <img src="https://123pngdownload.com/wp-content/uploads/2019/09/football-png.png" alt="logo" width="300px">
    </div>
    <br>
    <br>
    <ion-button href="./partidos">
      Open your app futbolera
    </ion-button>
  </div>
</ion-content>
